@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.para1 {
    position: absolute;
    left: 300px;
    width: 300px;
    padding: 10px;
    }

.para2 {
    position: absolute;
    right: 300px;
    width: 300px;
    padding: 10px;
    }

.boton {
    position: absolute;
    text-align: center;
    bottom: 200px;
    left: 600px;
}

h1{
    text-align: center;
}
/* --------------------------- ESTILOS LOGIN ----------------------------- */
#containerLogin {
	margin: 50px auto;
	width: 400px; 
}

#containerLogin h2 {
	background-color: #088A85;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
}
#containerLogin fieldset {
	background-color: #D8D8D8;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
}

#containerLogin fieldset p {
	color: #777;
	margin-bottom: 14px;
    text-align: center;   
}

.btLogin{
    
    background-color:blueviolet;
}

-----------------------------------------------------------------*/
@font-face {
  font-family: 'principalCursiva';
  src: url("fonts/HelveticaNeueLTStd-LtCnO.otf"); }

