<!DOCTYPE>
<html lang="es" ng-app="ref" class="no-js" > 
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Referencia</title>
        
		<!-- build:CSSCDNs -->
		 <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  
		<!-- AQUI IRAN LOS CSS QUE TENGAN CDN-->
		<!--link rel="stylesheet" href="css/style.css" /-->

		<!-- endbuild -->
        <link rel="stylesheet" href="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0-rc2/angular-material.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<!-- AQUI IRAN LOS CSS NUESTROS QUE NO TENGAN CDN-->
		<link rel="stylesheet" href="css/style.css" />
       
	</head>
	<body>
		<header>
            <p class="titulo">Referencias</p>
            <img id="logo" src="/logo_gfi.png"/>
            <div ng-show="menu" id="menu" layout layout-sm="column">
                <data md-toolbar class="md-menu-toolbar">
                    <md-menu>
                        <md-button ng-click="$mdOpenMenu()">
                        Usuarios
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.sampleAction('share', $event)" ><a href="#/alta">Alta Usuario
                                </a></md-button>
                            </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                              <md-menu-item>
                                <md-button ng-click="ctrl.sampleAction('share', $event)">
                                  Eliminar Usuario
                                </md-button>
                              </md-menu-item>             
                        </md-menu-content>
                    </md-menu>
                <md-menu-divider></md-menu-divider>  
                    <md-menu>
            <md-button ng-click="$mdOpenMenu()">Referencias</md-button>
            <md-menu-content>
            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Document', $event)">Crear Ref</md-button></md-menu-item>
            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">Eliminar Ref</md-button></md-menu-item>
            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Presentation', $event)">Mostrar Ref</md-button></md-menu-item>
            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Form', $event)">Modificar Ref</md-button></md-menu-item>
            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Drawing', $event)">Ref selection</md-button></md-menu-item>
            </md-menu-content>
                    </md-menu>
                </data>
            </div>  
            
        </header>
        
        <div ng-view>            
         
		</div>
        
        <footer>
           <div class="wrapper">
               <nav>                
                <a href="http://www.gfi.es">2015.Sharon.Agile</a>               
               </nav>       
            </div>
        </footer>   

		<!-- build:JSCDNs -->
         
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js"></script>
        <script src="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0-rc2/angular-material.js"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>

		<!-- endbuild -->       
        <script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
        <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="./modulos/altaUsuario/dirPagination.js"></script>
		<!-- build:JS -->
		<script src="services.js"></script>
		<script src="app.js"></script>
		<script src="config.js"></script>
        <script src="modulos/login/controladorLogin.js"></script>
        <script src="modulos/altaUsuario/controladorAltaUsuario.js"></script>
        <script src="modulos/nuevaReferencia/controladorNuevaReferencia.js"></script>
		<!-- endbuild -->
		<script src="js/AES.min.js"></script>

	</body>
</html> 
