<div>
    <p  class="cabeceraPagina">{{titulo}}</p>
    <br>
    <table id="referenciasPendientes">
      <tr>
        <th>CLIENTE</th>
        <th>DENOMINACIÓN</th>		
        <th>SOLUCIÓN GFI</th>
      </tr>
      <tr ng-repeat="referencia in referencias | filter: paginate" ng-click="abrirReferenciaPendiente($index, referencias)" id="selPendientes">
        <td id="prueba">{{referencia.cliente }} </td>
        <td id="prueba">{{referencia.denominacion}}</td>		
        <td id="prueba">{{referencia.solucionGfi}}</td>
      </tr>
    </table>
    <div class="contenedorPaginacion">
        <pagination total-items="totalItems" ng-model="currentPage"
        max-size="5" boundary-links="true"
        items-per-page="numPerPage" class="pagination-sm" previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="Último">
        </pagination>
    </div>
</div>
