<section ng-controller="controladorAltaUsuario">
    <h1>Introduzca el nombre del usuario que quiere dar de alta y el rol que desea asignarle</h1>
    <div id="listaUsuarios">
      <input type="text" id="cajaFiltro" placeholder="Buscar..." ng-model="filtro"/>
      <select ng-model="ordenadoPor">
        <option value="usuario">Por Nombre</option>
        <option value="nick">Por Nick</option>
        <option value="mail">Por e-mail</option>
      </select>
      <ul id="usuarios_ul">
        <li type="radio" ng-repeat="usuario in usuarios | filter:filtro | orderBy: ordenadoPor" ng-click="setValue(usuario)">
            Nombre: {{usuario.usuario}}<br/>
            Nick: {{usuario.nick}}<br/>
            Correo: {{usuario.mail}}
        </li>
        <hr>
      </ul>
        <br>
      <span>Numero total de usuarios: {{usuarios.length}}</span>
          <hr>
          <span>Usuario seleccionado:</span>
        <input type="text" ng-model="miUsuarioSeleccionado.usuario" />
    </div>
    <div id="listaRoles">
        <p>Rol:</p>
        <br>
        <input type="radio" ng-model="role" value="administrador" checked>Administrador
        <br>
        <input type="radio" ng-model="role" value="mantenimiento">Mantenimiento
        <br>
        <input type="radio" ng-model="role" value="validador">Validador
        <br>
        <input type="radio" ng-model="role" value="consulta">Consulta
     </div>
        <button class="boton" type="button" ng-click="crear()" >Crear</button>
</section>