<form name="useForm" >
    <h1 class="cabeceraPagina">Gestión de cliente</h1>
    <md-content class="layout-padding">
        <div class="para1">
            
            <!--CLIENTE-->
            <div class="control-group" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
                <md-dialog-content class="selecCli">
                    <div class="md-dialog-content">
                        <md-autocomplete id="clienteReferencia"
                                         name='cliente'
                                         tabindex='1'
                                         md-autoselect
                                         md-selected-item="clientes.elemSeleccionado"
                                         md-search-text="clientes.texto"
                                         md-selected-item-change="selectedItemChange(item, 'cliente')"
                                         md-items="item in filtrar(clientes.texto, 'cliente') | limitTo : 8"
                                         md-item-text="item.display"
                                         md-min-length="3"
                                         placeholder="Busque por cliente o siglas."
                                         ng-required>
                            <md-item-template>
                                <span md-highlight-text="clientes.texto" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No se encuentra "{{clientes.texto}}" en la lista.
                            </md-not-found>
                      </md-autocomplete>
                      </div>
                </md-dialog-content>
            </div>
            <br> 
					
            <!-- Nombre del cliente-->
            <div id="nombre" class="inBlock"> 
                <md-input-container title="Nombre" class="fixed-size-denominacion">
                    <label>Nombre *</label>
                    <textarea id="textNombre"
                              name="nombre"
                              type="text"
                              ng-model="cliente.nombre"
                              md-maxlength="100"
                              ng-required="true"
                              tabindex="8">
                    </textarea>
                </md-input-container>
            </div>

            <!-- Siglas del cliente-->
            <div id="siglas" class="inBlock">
                <md-input-container title="Siglas" class="fixed-size-resumen">
                    <label>Siglas *</label>
                    <textarea id="textSiglas"
                              name="siglas"
                              ng-model="cliente.siglas"
                              md-maxlength="10"
                              ng-required="true"
                              tabindex="9">
                    </textarea>
                </md-input-container>
            </div>

			<!-- Alias del cliente -->
			<div>
                    <div>
                        <div id="permisoUso">
                                <md-checkbox ng-init="cliente.permisoUso=true" id="cBAlias" ng-model="cliente.permisoUso">Permito el uso de mi nombre</md-checkbox>
                            </div>
                        <md-input-container ng-hide="cliente.permisoUso">
                            
                            <md-input-container id="alias" title="Alias" class="fixed-size-resumen">
							<label>Nombre alternativo *</label>
							<textarea id="textAlternativo"
									  name="Alias"
									  ng-model="cliente.alias"
									  md-maxlength="300"
									  ng-required="true"
									  tabindex="10">
							</textarea>
                		</md-input-container>
                      </md-input-container>
                    </div>
             </div>
		
			
            
            <div class="botonesCrear" layout-align="center">          
             <!-- BOTONES -->
                <md-button id="modificar"
                           class="botonesApp"
                           type="button" 
                           ng-click="modificarCliente($event)"
                           tabindex="20">
                    MODIFICAR CLIENTE
                </md-button>   
				<md-button id="borrar"
                           class="botonesApp"
                           type="button" 
                           ng-click="borrarCliente($event)"
                           tabindex="20">
                    BORRAR CLIENTE
                </md-button>  
            </div> 
        </div>
    </md-content>
</form>