<div id="containerLogin">     
    <fieldset>
        <md-input-container flex>
          <label>Usuario</label>
          <input ng-model="user.name" required="required" autofocus="autofocus">
        </md-input-container>
        
        <md-input-container flex>
          <label>Contraseña</label>
          <input ng-model="user.password"  required="required" autofocus="autofocus">
        </md-input-container>         
    </fieldset>
    <p><md-button class="md-raised" ng-click="login()">Entrar</md-button></p>  
</div>


       

 
          
        


