<div id="containerLogin">     
    <fieldset>
        <md-input-container flex>
          <label>Usuario</label>
          <input ng-model="user.name" required="required" autofocus="autofocus">
        </md-input-container>
        
        <md-input-container flex>
          <label>Contraseña</label>
          <input ng-model="user.password" type="password" required="required" autofocus="autofocus">
        </md-input-container>         
    </fieldset>
    
    <div id="log">
        <md-button  ng-click="login()">Entrar</md-button>
        <input type="checkbox"
           ng-model="recordar">Recordarme
    </div>
</div>


       

 
          
        


