<div id="contenedorListarReferencia">
    <p  class="cabeceraPagina">{{titulo}}</p>
    <br>
    
    
    <!-- https://scotch.io/tutorials/animating-angular-apps-ngshow-and-nghide -->
    <md-toolbar id="busquedaRef">
        <div class="md-toolbar-tools">
          <md-input-container md-theme="input" flex>
            <input ng-model="referencia.busqueda" placeholder="Buscar referencias">
          </md-input-container>
          <md-button id="botonBusqueda" aria-label="Search" ng-click="buscar()">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
        </div>
       
      </md-toolbar>

    <div>
        <div id="cabeceraBusquedaAvanzada">
            <md-button class="md-icon-button" type="button" ng-click="mostrarBAvanzada=!mostrarBAvanzada">
                
                <i class="material-icons" ng-show="!mostrarBAvanzada">keyboard_arrow_right</i>
                <i class="material-icons" ng-show="mostrarBAvanzada">keyboard_arrow_down</i>
                <!--ng-md-icon icon="keyboard_arrow_down" ng-show="mostrarBAvanzada"></ng-md-icon-->
            </md-button>
            <div id="tituloBotonBusquedaAvanzada">Busqueda avanzada</div>
        </div><br>
        <div id="cuerpoBusquedaAvanzada" ng-init="mostrarBAvanzada=false" ng-show="mostrarBAvanzada">
            <!--CLIENTE-->
            <div class="control-group" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
                <md-dialog-content class="selecCli">
                    <div class="md-dialog-content">
                        <md-autocomplete id="clienteBusqueda"
                                         name='cliente'
                                         tabindex='1'
                                         md-autoselect
                                         md-selected-item="clientes.elemSeleccionado"
                                         md-search-text="clientes.texto"
                                         md-selected-item-change="selectedItemChange(item)"
                                         md-items="item in filtrar(clientes.texto) | limitTo : 8"
                                         md-item-text="item.display"
                                         md-min-length="3"
                                         placeholder="Busque por cliente o siglas.">
                            <md-item-template>
                                <span md-highlight-text="clientes.texto" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No se encuenta "{{clientes.texto}}" en la lista.
                            </md-not-found>
                      </md-autocomplete>
                      </div>
                </md-dialog-content>
            </div>

            <!--    SOCIEDAD-->
            <div>
                <md-input-container title="Sociedad" class="fixed-size selectBusqueda" >
                    <label>Sociedad *</label>
                    <md-select multiple
                               id="sociedadSelect"
                               name="sociedad"
                               tabindex="2"
                               ng-model="referencia.sociedad">

                        <md-option ng-value="sociedad.codigo" data-ng-repeat="sociedad in catalogo.sociedades" 
                                   ng-selected="sociedad.codigo ==  sociedadSeleccionado ? true:false">
                            {{sociedad.descripcion}} ({{ sociedad.codigo }})
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            
            <!--   SECTOR-->
            <div>
            <md-input-container title="Sector Empresarial" class="fixed-size selectBusqueda" >
                    <label>Sector Empresarial *</label>
                    <md-select multiple
                               id="selectSectorEmpresarial"
                               name="SectorEmp"
                               ng-model="referencia.sectorEmpresarial"  
                               tabindex="3">
                        <md-option ng-value="sectorEmpresarial.codigo" 
                                   data-ng-repeat="sectorEmpresarial in catalogo.sectorempresarial" 
                                   ng-selected="sectorEmpresarial.codigo ==  sectorEmpresarialSeleccionado ? true:false">
                            {{sectorEmpresarial.descripcion}}  ({{ sectorEmpresarial.codigo }})
                        </md-option>
                  </md-select>
                </md-input-container>
            </div>
            <!--    Tipo de actividad-->
            <div id="actividad">
                <md-input-container title="Tipo de actividad" class="fixed-size selectBusqueda" >
                    <label>Tipo de actividad *</label>
                    <md-select multiple
                               id="selectActividad"
                               name="tActividad"
                               ng-model="referencia.tipoActividad"
                               tabindex="4">
                        <md-option ng-value="tipoActividad.codigo" 
                                   data-ng-repeat="tipoActividad in catalogo.actividad" 
                                   ng-selected="tipoActividad.codigo ==  tipoActividadSeleccionado ? true:false">
                        {{ tipoActividad.descripcion }} ({{ tipoActividad.codigo }})
                        </md-option>      
                    </md-select>
                </md-input-container>
            </div>

            <!--    Tipo de proyecto-->
            <div>
                <md-input-container title="Tipo de proyecto" class="fixed-size selectBusqueda" >
                    <label>Tipo de proyecto *</label>
                    <md-select multiple
                               id="tipoProyectoSelect"
                               name="tProyecto"
                               ng-model="referencia.tipoProyecto"
                               tabindex="5">
                        <md-option ng-value="tipoProyecto.codigo" data-ng-repeat="tipoProyecto in catalogo.proyecto" 
                                   ng-selected="tipoProyecto.codigo ==  tipoProyectoSeleccionado ? true:false">
                        {{ tipoProyecto.descripcion }} ({{ tipoProyecto.codigo }})
                        </md-option>      
                    </md-select>
                </md-input-container>
            </div>
            <!--    Duración-->    
            <div id="Duracion">
                <md-input-container title="Duración en meses" class="fixed-size" >
                    <label>Nº años anteriores</label>
                    <input id="duracionBusqueda" name="duracion" type="number" min="0" ng-init="referencia.ultimosAnios=0" ng-model="referencia.ultimosAnios" 
                           tabindex="7"/>
                </md-input-container>
            </div>
            <div id="TecnologiasSelec">
                <md-button id="busquedaBotonTecnologias"
                           class="botonesApp"
                           type="button"
                           ng-click="seleccionarTecnologias()">
                    Seleccionar tecnologias
                </md-button>
                <md-chips id="busquedaTecnologias" ng-model="referencia.tecnologiasSeleccionadas"></md-chips>
                <!--md-input-container title="Tecnologias Seleccionadas" class="fixed-size" >
                    <label>Tecnologias seleccionadas</label>
                    <input id="duracionBusqueda" name="tecnologias" ng-focus="seleccionarTecnologias(this)" type="text" ng-model="referencia.tecnologiasSeleccionadas"/>
                </md-input-container-->
            </div>
            <md-input-container id="busquedaProductoTecnologia" title="Existe certificado del cliente" class="fixed-size">
                <label class="labelCertificado">La tecnologia es producto</label>
                <md-radio-group id="hayCertificado"
                                name="certificado"
                                ng-model="referencia.esProducto">                  
                    <md-radio-button class="inBlock radioCertificado" value="si">Si</md-radio-button>
                    <md-radio-button class="inBlock radioCertificado" value="no">No</md-radio-button>
                    <md-radio-button class="inBlock radioCertificado" value="">No aplica</md-radio-button>
                </md-radio-group>
            </md-input-container>
            <md-input-container id="tipoTecnologias" class="selectBusqueda" ng-show="referencia.esProducto==='si'">
                <label>Tipo de tecnologia</label>
                <md-select multiple ng-model="referencia.tipoTecnologia" ng-required="true">
                  <md-option ng-repeat="tipo in tipos" value="{{tipo}}">
                    {{tipo}}
                  </md-option>
                </md-select>
            </md-input-container>
            
        </div>
    </div>
    
    
    
    
    
    
    <br>
    <table id="referenciasBusqueda" class="tablasReferencias">
      <tr>
        <th>CLIENTE</th>
        <th>SOCIEDAD</th>
        <th>DENOMINACIÓN</th>		
        <th>TIPO PROYECTO</th>
      </tr>
      <tr ng-repeat="referencia in referencias | filter: paginate" ng-click="abrirReferenciaPendiente($index, referencias)" id="selPendientes">
          
        <td class="listarReferencia">{{referencia.cliente}} </td>
        <td class="listarReferencia">{{referencia.sociedad}} </td>
        <td class="listarReferencia" ng-if="referencia.denominacion.length<=30">{{referencia.denominacion}}</td>		
        <td class="listarReferencia" ng-if="referencia.denominacion.length>30">{{referencia.denominacion.substring(0,30) + "..."}}</td>	
        <td class="listarReferencia">{{referencia.tipoProyecto}}</td>
      </tr>
    </table>
    <div ng-if="referencias.length===0" class="mensajeNoExisteReferencias">No existe ninguna referencia</div>
    <div class="contenedorPaginacion">
        <pagination total-items="totalItems" ng-model="currentPage"
        max-size="5" boundary-links="true"
        items-per-page="numPerPage" class="pagination-sm" previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="Último">
        </pagination>
    </div>
    <div class="botonesCrear" layout-align="center">
        <md-button id="expPdf"
                   class="botonesApp"
                   type="button" 
                   ng-click="pop('','sin func')">
            Exportar a Pdf
        </md-button>
        <md-button id="expWord"
                   class="botonesApp"
                   type="button" 
                   ng-click="pop('','sin func')">
            Exportar a Word
        </md-button>
        <md-button id="expPptx"
                   class="botonesApp"
                   type="button" 
                   ng-click="pop('','sin func')">
            Exportar a PowerPoint
        </md-button>
    </div>
</div>
