<section>
    <h1 class="cabeceraPagina">NUEVA REFERENCIA</h1>
    <md-content class="layout-padding">
        <div class="para1">
                <div>
                <md-input-container title="Cliente" class="fixed-size">
                    <label>Cliente</label>
                    <md-select ng-model="cliente">
                        <md-option ng-value="cliente.nombre" data-ng-repeat="cliente in catalogo.clientes">
                            {{ cliente.nombre }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container title="Sociedad" class="fixed-size">
                    <label>Sociedad</label>
                    <md-select ng-model="sociedad">                       
                        <md-option ng-value="sociedad.codigo" data-ng-repeat="sociedad in catalogo.sociedades">
                            {{ sociedad.codigo }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container title="Sector Empresarial" class="fixed-size">
                    <label>Sector Empresarial</label>
                    <md-select ng-model="sectorEmpresarial">
                        <md-option ng-value="sectorEmpresarial.codigo" data-ng-repeat="sectorEmpresarial in catalogo.sectorempresarial">
                            {{ sectorEmpresarial.codigo }}
                        </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container title="Tipo de actividad" class="fixed-size">
                    <label>Tipo de actividad</label>
                    <md-select ng-model="tipoActividad">
                        <md-option ng-value="tipoActividad.codigo" data-ng-repeat="tipoActividad in catalogo.actividad">
                        {{ tipoActividad.codigo }}
                        </md-option>      
                    </md-select>
                </md-input-container>
                <md-input-container title="Tipo de proyecto" class="fixed-size">
                    <label>Tipo de proyecto</label>
                    <md-select ng-model="tipoProyecto">
                        <md-option ng-value="tipoProyecto.codigo" data-ng-repeat="tipoProyecto in catalogo.proyecto">
                        {{ tipoProyecto.codigo }}
                        </md-option>      
                    </md-select>
                </md-input-container>
                <md-datepicker ng-model="user.submissionDate" md-placeholder="Fecha de Inicio" class="ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse" tabindex="-1" aria-invalid="false">
                    <button class="md-datepicker-button md-icon-button md-button md-ink-ripple" type="button" ng-transclude="" tabindex="-1" aria-hidden="true" ng-click="ctrl.openCalendarPane($event)">
                        <md-icon class="md-datepicker-calendar-icon ng-scope ng-isolate-scope" md-svg-icon="md-calendar" aria-label="md-calendar" role="img"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;"><path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"></path></svg>
                        </md-icon>
                        <div class="md-ripple-container"></div>
                    </button>
                    <div class="md-datepicker-input-container" ng-class="{'md-datepicker-focused': ctrl.isFocused}">
                        <input class="md-datepicker-input" aria-haspopup="true" ng-focus="ctrl.setFocused(true)" ng-blur="ctrl.setFocused(false)" placeholder="Fecha de Inicio" size="13"><button class="md-datepicker-triangle-button md-icon-button md-button" type="button" ng-transclude="" md-no-ink="" ng-click="ctrl.openCalendarPane($event)" aria-label="Open calendar"><div class="md-datepicker-expand-triangle ng-scope"></div>
                        </button>
                    </div>
                </md-datepicker>
                <md-input-container title="Duración en meses" class="fixed-size">
                    <label>Duración en meses</label>
                    <input type="number" min="1" ng-model="duracionMeses">
                </md-input-container>
                <md-input-container title="Denominación" class="fixed-size-denominacion">
                    <label>Denominación</label>
                    <input type="text" ng-model="denominacion" max="100" md-maxlength="100">
                </md-input-container>
                <div id="cajon1">
                    <md-input-container title="Resumen del proyecto" class="fixed-size-resumen">
                        <label>Resumen proyecto</label>
                        <textarea ng-model="resumenProyecto" max="300" md-maxlength="300" rows="5"></textarea>
                    </md-input-container>
                </div>
                <div id="cajon2">
                <md-input-container title="Problemática del cliente" class="fixed-size-resumen">
                    <label>Problemática del cliente</label>
                    <textarea ng-model="problematicaCliente" max="300" md-maxlength="300" rows="5"></textarea>
                </md-input-container>
                </div>
                <md-input-container title="Solución GFI" class="fixed-size-solucion">
                    <label>Solución GFI</label>
                    <textarea type="text" ng-model="solucionGfi" max="500" md-maxlength="500" rows="6"></textarea>
                </md-input-container>
                <md-input-container title="Tecnologías" class="fixed-size">
                    <label>Tecnologías</label>
                    <md-select ng-model="tecnologias">
                        <md-option ng-value="tecnologias.codigo" data-ng-repeat="tecnologias in catalogo.tecnologia">
                        {{tecnologias.codigo}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container title="FTE Totales" class="fixed-size">
                    <label>FTE Totales</label>
                    <input type="number" min="1" ng-model="fteTotales">
                </md-input-container>
                <md-input-container title="Existe certificado del cliente">
                    <md-radio-group ng-model="certificado">
                    <label>¿Existe certificado del cliente?</label><br>
                        <md-radio-button style="margin-bottom: -35px" value="si">Si</md-radio-button>
                        <md-radio-button style="margin-left: 80px" value="no">No</md-radio-button>
                    </md-radio-group>
                </md-input-container>
                <md-input-container title="Registros de pedido asociados a la referencia" class="fixed-size">
                    <label>Registros de pedido asociados a la referencia</label>
                    <input type="text" ng-model="regPedidoAsociadoReferencia">
                </md-input-container>
                <md-input-container title="Responsable comercial" class="fixed-size">
                    <label>Responsable Comercial</label>
                    <md-select ng-model="responsableComercial"> 
                        <md-option ng-value="responsableComercial.nombre" data-ng-repeat="responsableComercial in catalogo.comercial">
                            {{ responsableComercial.nombre }}
                        </md-option>
                    </md-select>
                </md-input-container>  
                <md-input-container title="Responsable técnico" class="fixed-size">
                    <label>Responsable Técnico</label>
                    <md-select ng-model="responsableTecnico">
                        <md-option ng-value="responsableTecnico.nombre" data-ng-repeat="responsableTecnico in catalogo.tecnico">
                            {{ responsableTecnico.nombre }}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!--<md-input-container title="Imagen del proyecto" class="fixed-size">
                    <label>Imagen del proyecto(cat)</label>
                    <input type='file' ng-click="readURL(this)"/>
                    <img id="img_prev" src="#" alt="your image"/>
                <!--</md-input-container>-->
                <md-input-container title="Imagen del proyecto" >
                    <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this)" id="photo-upload"/>
                    <img ng-src="data:image/jpeg;base64,{{data.UserPhoto}}" id="photo-id" width="150" height="150"/>
                </md-input-container> 
                <div>                         
                    <md-input-container title="Código QR" class="fixed-size">
                        <label>Código Qr</label>
                        <input ng-model="codigoQr"/>
                    </md-input-container>    
                    <qr  text="codigoQr" version="3" error-correction-level="Q" size="60"></qr>
                </div>     
                <md-content class="contenedorBoton">
                    <md-button class=botonesApp type="button" ng-click="crear()">Aceptar</md-button>
                </md-content>
            </div>           
        </div>
    </md-content>
</section>