<section ng-controller="controladorNuevaReferencia">
    <h1>NUEVA REFERENCIA</h1>
    <div>
        <span>Cliente: </span>
        <select ng-model="cliente">
            <option value="option-1">Option 1</option>
            <option value="option-2">Option 2</option>
        </select><br>
        <span>Sociedad: </span><input ng-model="sociedad"><br>
        <span>Sector Empresarial: </span><input ng-model="sectorEmpresarial"><br>
        <span>Tipo de proyecto: </span>
        <select ng-model="tipoProyecto">
            <option value="option-1">Option 1</option>
            <option value="option-2">Option 2</option>
        </select><br>
        <span>Fecha de inicio: <md-datepicker ng-model="fechaInicio" md-placeholder="Seleccione la fecha"></md-datepicker></span><br>
        <span>Duración en meses: </span><input type="number" ng-model="durancionMeses"><br>
        <span>Denominación: </span><input type="text" ng-model="denominacion"><br>
        <span>Resumen del proyecto: </span><input type="text" ng-model="resumenProyecto"><br>
        <span>Problemática del cliente: </span><input type="text" ng-model="problematicaCliente"><br>
        <span>Solución GFI: </span><input type="text" ng-model="solucionGfi"><br>
        <span>Tecnologías: </span>
        <select ng-model="tecnologias">
            <option value="option-1">Option 1</option>
            <option value="option-2">Option 2</option>
        </select><br>
        <span>FTE Totales: </span><input type="text" ng-model="fteTotales"><br>
        <span>Imagen del proyecto: </span><input type="file" ng-model="imagenProyecto"><br>
        <span>Existe certificado del cliente: </span><input type="radio" ng-model="certificado" value="si" checked>Si<input type="radio" ng-model="certificado" value="no">No<br>
        <span>Registros de Pedido asociados a la referencia: </span><input ng-model="regPedidoAsociadoReferencia"><br>
        <span>Responsable Comercial: </span><input ng-model="responsableComercial"><br>
        <span>Resposable Técnico: </span><input ng-model="responsableTecnico"><br>
        <span>Código QR: </span><input ng-model="CodigoQR"><br>
        <button type="button" ng-click="crear()">Crear Referencia</button>
    </div>
</section>